<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Bluwitter</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bluwitterEstilo.css}">
	</head>
	<body>
		<!-- Inicio do cabecalho -->
		<header>
			<div class="divTopo">
				<img th:src="@{/images/Logotipo.png}" class="imagemLogotipo" width="50">
			</div>
		</header>
		<!-- Fim do cabecalho -->
		<div class="divCorpoPrincipal">
	
			<div class="divPostagem">
				<div class="divCriarPostagem">
					<select class="selectCriarMensagem">
						<option value="andre">André</option>
						<option value="carlos">Carlos</option>
					</select>
					<br>
					<textarea class="textAreaCriarMensagem" placeholder="No que está pensando?"></textarea>
				</div>
			</div>
		</div>
	</body>
</html>